<main id="main" class="main">
    <div class="pagetitle">
        <h1>Add User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Question" asp-action="AddQuestion">Question</a></li>
                <li class="breadcrumb-item active"><a asp-controller="Question" asp-action="QuestionList">Question List</a></li>
            </ol>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body shadow-lg">
                        <h5 class="card-title">Question form</h5>

                        <div class="card">
                            <div class="card-body shadow-lg">
                                <h5 class="card-title">create Quetions</h5>

                                <!-- No Labels Form -->

                                <h2 class="text-2xl font-bold text-gray-700 mb-6">Add Question</h2>
                                <form class="space-y-6">
                                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                                        <!-- Name and Password Fields -->
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">Question ID</label>
                                            <input type="text" id="name" name="name" placeholder="Enter Question ID" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">QuestionLevel ID</label>
                                            <input type="text" id="name" name="name" placeholder="Enter QuestionLevel ID" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">User ID</label>
                                            <input type="text" id="name" name="name" placeholder="Enter User ID" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>

                                    </div>

                                    <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
                                        <div>
                                            <label for="password" class="block text-sm font-medium text-gray-700">Question Text</label>
                                            <input type="text" id="password" name="password" placeholder="Password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                                        <div>
                                            <label for="password" class="block text-sm font-medium text-gray-700">OptionA</label>
                                            <input type="text" id="password" name="password" placeholder="Enter Option A" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="password" class="block text-sm font-medium text-gray-700">OptionB</label>
                                            <input type="text" id="password" name="password" placeholder="Enter Option B" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="password" class="block text-sm font-medium text-gray-700">OptionC</label>
                                            <input type="text" id="password" name="password" placeholder="Enter Option C" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="password" class="block text-sm font-medium text-gray-700">OptionD</label>
                                            <input type="text" id="password" name="password" placeholder="Enter Option D" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                        <!-- Name and Password Fields -->
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">Correct Option</label>
                                            <input type="text" id="name" name="name" placeholder="Enter Correct Option" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">Quetion Marks</label>
                                            <input type="number" id="name" name="name" placeholder="Question Marks" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>

                                    </div>

                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                        <!-- City and Zip Fields -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label block text-sm font-medium text-gray-700" for="flexCheckDefault">
                                                IsActive
                                            </label>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                        <!-- Name and Password Fields -->
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">Created</label>
                                            <input type="date" id="name" name="name" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>
                                        <div>
                                            <label for="name" class="block text-sm font-medium text-gray-700">Modified</label>
                                            <input type="date" id="name" name="name" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-blue-500 focus:border-blue-500" />
                                        </div>

                                    </div>

                                    <!-- Submit and Reset Buttons -->
                                    <div class="flex space-x-4">
                                        <button type="submit" class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-xl shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Submit</button>
                                        <button type="reset" class="px-6 py-3 bg-gray-400 text-white font-semibold rounded-xl shadow-sm hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-300">Reset</button>
                                    </div>
                                </form><!-- End No Labels Form -->
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</main><!-- End #main -->